@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Josefin+Sans:wght@100&family=Nova+Round&display=swap');

//---------- Font-family --------------//
$font-1: 'Nova Round', cursive;
$font-2: 'Dosis', sans-serif; 
$font-3: 'Josefin Sans', serif;

//---------- Color -------------//
$color-1: #fafeff;
$color-2: #00c1ec;
$color-3: #b3e7fd;
$color-4: rgb(141, 141, 141);
$black: rgb(40, 40, 40);
$red: rgb(253, 87, 87);




//----------------------------------------------//

main {
    position: relative;
}